.main_chat_container {
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner_chat_container {
    position: relative;
    width: 90%;
    height: 600px;
    margin: 0px auto;
    max-width: 1200px;
    background: #fff;
    display: grid;
    grid-template-columns: 30% 70%;
    place-items: flex-start;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

    .back_btn_chat {
      position: absolute;
      left: -5%;
      top: 0px;
      padding: 15px 15px;
      border-radius: 4px;
      background: #000;
      color: #fff;
      cursor: pointer;

      i {
        font-size: 1.4rem;
      }
    }

    .left_chat_bar {
      width: 100%;
      height: 100%;
      border-right: 1px solid rgba(230, 230, 230);

      .left_chat_inner {
        width: 100%;
        height: 100%;

        .chat_search_user {
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;

          .left_chat_search_bar {
            width: 90%;
            height: 50px;
            border: 1px solid rgba(220, 220, 220);
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;

            input {
              width: 85%;
              height: 100%;
              border: none;
              padding: 0px 20px;
              font-size: 1rem;
              outline: none;
              color: gray;
            }

            i {
              width: 15%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.2rem;
              color: gray;
              cursor: pointer;
            }
          }
        }

        .allconversations_left_chat {
          border-top: 1px solid rgb(230, 230, 230);
          width: 100%;
          max-height: 520px;
          height: 100%;
          overflow: auto;

          &::-webkit-scrollbar {
            width: 5px !important;
            background: #f1f1f1;
          }

          &::-webkit-scrollbar-thumb {
            width: 5px;
            background: rgb(187, 187, 187);
          }

          .chat_conversation {
            padding: 10px 20px;
            border-bottom: 1px solid rgba(230, 230, 230);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: 0.2s linear;

            &.active {
              background: rgba(245, 245, 245);
              transition: 0.2s linear;
            }

            &:hover {
              background: rgba(245, 245, 245);
              transition: 0.2s linear;
            }

            .conversation_img {
              width: 50px;
              height: 50px;
              max-width: 20%;
              position: relative;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }

              &.active {
                position: relative;

                &:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  height: 13px;
                  width: 13px;
                  background: green;
                  border-radius: 50%;
                  border: 2px solid #fff;
                }
              }
            }

            .convseration_info {
              max-width: 80%;
              width: 100%;

              .convseration_details {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                  font-size: 1.1rem;
                  color: #000;
                  font-weight: 600;
                  margin: 0px;
                }

                p {
                  font-size: 0.8rem;
                  color: gray;
                  margin: 0px;
                }
              }

              .conversation_last_message {
                width: 100%;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                  width: 90%;
                  font-size: 0.8rem;
                  color: #a9a9a9;
                  margin: 0px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;

                  &.typing {
                    color: green;
                    font-weight: 600;
                  }
                }

                .unread_msgs {
                  background: #50c878;
                  color: #fff;
                  font-size: 0.7rem;
                  padding: 2px 8px;
                  border-radius: 50px;
                  margin: 0px;
                }
              }
            }
          }
        }
      }
    }

    .right_chat_bar {
      width: 100%;
      height: 100%;

      .right_chat_inner_container {
        width: 100%;
        height: 100%;

        .chat_container_heading_right {
          padding: 0px 20px;
          height: 81px;
          border-bottom: 1px solid rgba(230, 230, 230);
          display: flex;
          align-items: center;
          justify-content: space-between;

          .current_chat_user_right {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .right_chat_user_img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .right_chat_user_info {
              margin-left: 20px;
              transition: 0.2s linear;

              h2 {
                font-size: 1.2rem;
                color: #000;
                font-weight: 700;
                margin: 0px;
                transition: 0.2s linear;
              }

              p {
                margin: 0px;
                font-size: 0.9rem;
                color: gray;
                transition: 0.2s linear;
              }
            }
          }

          .current_conversation_cats {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            label {
              height: 45px;
              width: 45px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.2s linear;
              margin-left: 15px;

              &.delete {
                border: 1px solid red;
                color: red;
                transition: 0.2s linear;

                &:hover {
                  background: red;
                  color: #fff;
                  transition: 0.2s linear;
                }
              }

              &.block {
                border: 1px solid gray;
                color: gray;
                transition: 0.2s linear;

                &:hover {
                  background: gray;
                  color: #fff;
                  transition: 0.2s linear;
                }
              }
            }
          }
        }

        .main_chat_container_messages {
          width: 100%;
          max-height: 519px;
          height: 100%;

          .chat_messages_container {
            width: 100%;
            max-height: 450px;
            height: 100%;
            overflow: auto;
            padding: 10px 20px;
            transition: 0.2s linear;

            &::-webkit-scrollbar {
              width: 8px !important;
              background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
              width: 8px;
              background: rgb(187, 187, 187);
            }

            .message_box_container {
              width: 100%;
              margin: 10px 0px;
              display: flex;
              justify-content: flex-start;
              transition: 0.2s linear;

              &.own {
                display: flex;
                justify-content: flex-end;

                .message_chat {
                  border-radius: 6px;
                  border-top-right-radius: 0px;
                  background: #d9fdd3;
                }
              }

              .message_chat {
                background: #ecf3ff;
                max-width: 80%;
                height: auto;
                padding: 10px 40px 10px 15px;
                display: inline-block;
                border-radius: 6px;
                border-top-left-radius: 0px;
                position: relative;
                transition: 0.2s linear;

                p {
                  font-size: 1rem;
                  color: #000;
                  font-weight: 500;
                  margin-bottom: 10px;
                }

                .chat_message_info {
                  position: absolute;
                  top: 0%;
                  right: 0%;
                  height: 100%;
                  padding: 5px;
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-end;

                  label {
                    font-size: 0.7rem;
                    margin: 0px;
                    margin-right: 5px;
                  }

                  img {
                    width: 18px;
                    height: 18px;
                    object-fit: contain;
                  }
                }
              }
            }
          }

          .chat_send_box {
            background: #f0f2f5;
            height: 69px;
            padding: 10px 20px;

            .conversation_closed {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;

              h2 {
                font-size: 1.2rem;
                color: #000;
                font-weight: 600;
                margin: 0px;
              }
            }

            .chat_send_box_inner {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .chat_send_message_input {
                max-width: 90%;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .emoji_picker {
                  width: 5%;
                  text-align: start;
                  position: relative;

                  .emoji_picker_container {
                    position: absolute;
                    bottom: 40px;
                    left: 0%;
                  }

                  i {
                    font-size: 1.5rem;
                    cursor: pointer;
                  }
                }

                textarea {
                  width: 95%;
                  height: 100%;
                  border: none;
                  outline: none;
                  padding: 12px 30px;
                  font-size: 1rem;
                  color: gray;
                  border-radius: 30px;

                  &::-webkit-scrollbar {
                    display: none;
                  }

                  &::-webkit-scrollbar-thumb {
                    display: none;
                  }
                }
              }

              .send_message_btn {
                max-width: 10%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                  height: 45px;
                  width: 45px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  border: none;
                  outline: none;
                  background: #50c878;
                  color: #fff;

                  &:disabled {
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }

      .no_conversation {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner_no_cnversation {
          width: 80%;
          height: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            width: 200px;
            height: auto;
            object-fit: cover;
            transition: 0.2s linear;
            animation: robot 2.5s linear infinite alternate;

            @keyframes robot {
              0% {
                transform: translateY(0px);
              }
              100% {
                transform: translateY(-20px);
              }
            }
          }

          h2 {
            font-size: 1.5rem;
            margin-top: 20px;
            color: gray;
            font-weight: 500;
          }
        }
      }
    }
  }
}
