.main_terms {
  width: 60%;
  padding: 40px;
  margin: 20px auto;
  background: rgb(243, 243, 243);
  border: 1px dotted rgb(148, 148, 148);

  h2 {
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    color: rgb(73, 73, 73);
  }
}
