.banner_container {
  width: 100%;
  height: auto;
  background: #ee4949;
  background-image: url("../../images/home-banner-bg-black.jpg");

  .inner_banner_container {
    width: 90%;
    padding: 50px 0px;
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 3rem;
      font-family: 'Playfair Display';
      font-style: italic;
      font-weight: 600;
      color: #fff;
      margin: 5px 0px;
    }

    p {
      font-size: 1.2rem;
      color: #fff;
      font-weight: 500;
      font-family: 'Playfair Display';
      margin: 0px;
    }
  }
}
